<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mainscene.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg_menuscene.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1874},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>combo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1749},{201,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{201,147}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>combo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1606},{233,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{233,141}}</string>
                <key>sourceSize</key>
                <string>{243,155}</string>
            </dict>
            <key>combo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{303,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{303,145}}</string>
                <key>sourceSize</key>
                <string>{315,155}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1874},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>menu_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1606},{266,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,67}}</string>
                <key>sourceSize</key>
                <string>{268,71}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture.png</string>
            <key>size</key>
            <string>{484,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5777e3df97a7403a36c915f66dfd6097:dafec5cd939d1b5c75acd517c0fedd01:f46617b9879efc77edf243fcb535d10c$</string>
            <key>textureFileName</key>
            <string>Texture.png</string>
        </dict>
    </dict>
</plist>
